.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 35vh;
    height: 35vh;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
  }
  h2 {
    padding: 2rem 1rem 1rem;
  }
}

@media screen and (max-width: 768px) {
  .song-container {
    img {
      padding-top: 2rem;
      width: 50%;
      height: 50%;
    }
  }
}
